/* Adapted from OctoPrint-TFT and OctoScreen */

Window {
	background-color: #13181C;
	-gtk-icon-shadow: none;
	font-size: 16px;
}


scrollbar, scrollbar button {
	border: none;
	background-color: #13181C;
}

scrollbar slider {
	min-width: 10px;
	border-radius: 2px;
	background-color: #404E57;
}

button {
	background-image: none;
	background-color: #13181C;
	margin: 2px;
	margin-bottom: 5px;
	border-radius: 0;
	border: 0;
	-gtk-icon-shadow: none;
}

button:active {
	background-color: #304C62;
}

button.color1 {
	border-bottom: 6px solid #ED6500;
}

button.color2 {
	border-bottom: 6px solid #B10080;
}

button.color3 {
	border-bottom: 6px solid #009384;
}

button.color4 {
	border-bottom: 6px solid #A7E100;
}

button.active {
	background-color: #20303D;
}

button.file-list {
	margin: 0px;
}

.dialog {
        border: 2px solid #333333;
        font-size: 16px;
        padding: 5px;
}

.dialog button {
        padding: 20px 40px 20px 40px;
        border-bottom: 4px solid #009384;
}

.message {
	border: 2px solid #981E1F;
	font-size: 16px;
	padding: 50px;
	color: #FFF;
	background-color: #981E1F;
}

.message button {
	background-color: #FFF;
	color: #000;
	padding: 40px 50px 40px 50px;
}

.notification {
	background-clip: padding-box;
	padding: 5px;
	border-radius: 0 0 5px 5px;
	opacity: 0.8;
}

.warning {
	background-color: rgba(30, 204, 39, 0.7);
}

.error {
	background-color: rgba(204, 30, 30, 0.7);
}

@define-color progress_bg_color #37C8AB;

#PrintProg {
    color: #00C9B4;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    min-height: 40px;
    min-width: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#ProgressInfo {
    background-color: #000;
}

#NameLabel {
    font-size: 14px;
    font-weight: bold;
}

#TimeLabel {
    font-size: 14px;
    font-weight: bold;
}

#TempLabel {
    font-size: 16px;
    font-weight: bold;
}

@define-color progress_bg_color #ff6c00;
@define-color progress_bg_color1 #ffa666;


progress, trough {
	min-height: 18px;
	border: 1px solid shade (@progress_bg_color, 0.9);
	color: #000;
}

progress {
	background-color: #00C9B4;
	font-size: 18px;
	font-weight: lighter;
}

.hidden {
    opacity: 0;
}
